@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
}

.form-translate {
    transform: translate(-50%, -50%);
}